<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
    <!-- 부트스트랩 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.1/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
 	
	<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
	<script type="text/javascript" th:src="@{/javaScript/script.js}"></script>
	
	<title>header</title>
</head>
<body>
<header>
<!-- 	<button><a href="@{/test}">dd</a></button> -->
    <div class="d-flex" id="userInfo_div">
        <!-- 검색 -->
        <form>
            <div class="input-group mt-3 mb-3 header_searchBar">
				<select th:name="category">
					<option value="하하">하하</option>
					<option value="ㅎㅎ">ㅇㅇ</option>
					<option value="ㅋㅋ">ㄷㄷ</option>
				
				</select>
                <input type="text" class="form-control" placeholder="검색어를 입력하세요">
                <button>검색</button>
            </div>
        </form>

        <!-- 로그인 정보 -->
        <th:block th:if="${#authentication.name == 'anonymousUser' or #authentication.name == null}">
            <div class="p-2 header_userInfo">
                <input type="text" id="header-username" class="" th:value="'비회원님 안녕하세요'">
            </div>
            <div class="p-2 login_area"><a href="/login/page" id="login_a">로그인</a></div>
        </th:block>

        <th:block th:if="${#authentication.name != null and #authentication.name != 'anonymousUser'}">
            <div class="p-2 header_userInfo">
                <input type="text" id="header-username" class="" th:value="${#authentication.name}+'님 안녕하세요'">
            </div>
            <div class="p-2 login_area"><a href="/logout" id="logout_a">로그아웃</a></div>
        </th:block>
    </div>
</header>

</body>
</html>