<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- 부트스트랩 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.1/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
    <!-- alertify js -->
  	<script src="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
	<script type="text/javascript" th:src="@{/javaScript/script.js}"></script>
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	
    <title>게시글 수정</title>
</head>
<body>
	<div class="container" id="b_container">
	    <form th:action="@{'/board/update'}" th:method="PUT" enctype="multipart/form-data" accept-charset="UTF-8">
	        <div>
	            <h2 th:text="${detailBoard.userId}">수정하기</h2>
	            <p>내용을 변경할 수 있습니다.</p>
	            <table class="table" th:object="${detailBoard}">
	                <tr class="hide">
	                    <td class="hide">
	                        <input name="boardNo" th:value="*{boardNo}" class="hide">
	                        <input name="userId" th:value="${detailBoard.userId}" class="hide">
	                        
	                    </td>
	                </tr>
	                <tr>
	                    <td class="b_title">제목</td>
	                    <td>
	                        <input type="text" class="write_input" name="boardTitle" th:value="*{boardTitle}" 
	                        maxlength="100" oninput="limitText(this, 100)">
	                    </td>
	                </tr>
	                <tr>
	                    <td class="b_title">내용</td>
	                    <td>
	                        <textarea class="write_input" name="boardContent" id="boardContent" 
	                        cols="30" rows="10" th:text="*{boardContent}" 
	                        maxlength="3000" oninput="limitText(this, 3000)"></textarea>
	                    </td>
	                </tr>
				    <tr>
				        <td class="b_title">첨부<br>파일</td>
				        <td id="attach-td">
				        	<div th:if="${attachment != null}">
								<a id="attach-a" th:text="${{ attachment.originName }}"></a>
								<input type="text" id="attach-fileNo" class="hide" th:value="${attachment.fileNo}">
								<input type="text" id="attach-boardNo" class="hide" th:value="${attachment.boardNo}">
								<input type="text" id="attachment" class="hide" th:value="${attachment}">
								<button type="button" id="update-file-delete-button">X</button>
							</div>
							<div th:unless="${attachment != null}" id="attachment-div">
							    <input type="file" name="file">
							</div>
				        </td>		        
				    </tr>	                
	            </table>
	        </div>
	        <div class="d-flex justify-content-center mb-3">
	            <div class="p-2"><button type="submit" id="left_btn">등록하기</button></div>
	            <div class="p-2">
	                <button type="reset">
	                    <a href="javascript:history.back();" id="update_a">취소하기</a>
	                </button>
	            </div>
	        </div> 
	    </form>
	</div>
<script>



</script>
</body>
</html>