<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0
//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mira.basicBoard.mapper.BoardMapper">
	<resultMap id="BoardResultSet" type="Board">	
		<result column="boardNo" property="boardNo" />
		<result column="boardTitle" property="boardTitle" />
		<result column="boardContent" property="boardContent" />
		<result column="createDate" property="createDate" />
		<result column="userId" property="userId" />
		<result column="viewCount" property="viewCount" />
		<result column="attachment" property="attachment" />
	</resultMap>
	
	<resultMap id="AttachmentResultSet" type="com.mira.basicBoard.vo.Attachment">
		<result column="FILENO" property="fileNo"/>
		<result column="STOREDNAME" property="storedName"/>
		<result column="ORIGINNAME" property="originName"/>
		<result column="PATH" property="path"/>
		<result column="UPLOADDATE" property="uploadDate"/>
		<result column="STATUS" property="status"/>
		<result column="BOARDNO" property="boardNo"/>
		<result column="USERID" property="userId"/>
	</resultMap>

	<!-- 게시글 전체 조회 -->
	<select id="boardList" resultMap="BoardResultSet">

 		select		BOARDNO
 					, BOARDTITLE
 					, BOARDCONTENT
 					, CREATEDATE
 					, USERID
 					, VIEWCOUNT
 					, ATTACHMENT 
		from 		BOARD
		where		STATUS = 'Y'
		<if test="category == 'boardTitle'">
	    	and BOARDTITLE like '%${keyword}%'
		</if>
		<if test="category == 'userId'">
	    	and USERID = #{keyword}
		</if>
		order by	BOARDNO DESC
			

	</select>
	
	<select id="countBoardList" resultType="int"> 
	
		select	COUNT(*)
		from	BOARD
		where STATUS = 'Y'
		<if test="category == 'boardTitle'">
	    	and BOARDTITLE like '%${keyword}%'
		</if>
		<if test="category == 'userId'">
	    	and USERID = #{keyword}
		</if>
		
	
	</select>
	
	<insert id="writeBoard" parameterType="board">
	
		insert into BOARD(
						BOARDTITLE
						, BOARDCONTENT
						, USERID
		<if test="attachment != null">
						, ATTACHMENT
		</if>
						)
						
				values(
						#{boardTitle}
						, #{boardContent}
						, #{userId}
		<if test="attachment != null">
						, #{attachment}
		</if>
						);	
	</insert>
	
	<select id="selectLastInsertId" resultType="int">
		select LAST_INSERT_ID();
	</select>
	
	<insert id="insertAttachment">
		insert into ATTACHMENT(
							ORIGINNAME
							, STOREDNAME
							, PATH
							, STATUS
							, BOARDNO
							, USERID
							)
					values(
							#{originName}
							, #{storedName}
							, #{path}
							, #{status}
							, #{boardNo}
							, #{userId}
							);	
	</insert>
	
	
	
	<select id="detailBoard" resultMap="BoardResultSet" parameterType="int">
		select 	BOARDNO
				, BOARDTITLE
				, BOARDCONTENT
				, CREATEDATE
				, USERID
				, VIEWCOUNT
				, ATTACHMENT 
		from 	BOARD
		where 	BOARDNO = #{boardNo}
		and		STATUS = 'Y';
	</select>
	
	<select id="selectAttachment" resultMap="AttachmentResultSet">
		select	*
		from 	ATTACHMENT
		where	BOARDNO = #{boardNo}
		and 	STATUS = 'Y';
	</select>
	
	<update id="increaseViewCount" parameterType="int">
	
		update	BOARD
		set 	VIEWCOUNT = VIEWCOUNT + 1 
		where	BOARDNO = #{boardNo};
	
	</update>
	
	
	
	<update id="deleteBoard" parameterType="int">
		update	BOARD
		set		STATUS = 'N' 
		where	BOARDNO = #{boardNo};
	</update>
	
	
	<update id="deleteAttachment" parameterType="int">
	    update	ATTACHMENT
	    set 	STATUS = 'N'
	    where	BOARDNO = #{boardNo}
	    

	</update>
	
	
	<update id="deleteAttachmentFileNo" parameterType="com.mira.basicBoard.vo.Attachment">
		update	BOARD, ATTACHMENT 
	    set 	BOARD.ATTACHMENT = 'N'
	    		, ATTACHMENT.STATUS ='N' 
	    WHERE 	BOARD.BOARDNO = ATTACHMENT.BOARDNO 
	    and 	BOARD.BOARDNO = #{boardNo} 
	    and 	ATTACHMENT.FILENO = #{fileNo};
	</update>
	

	<update id="updateBoard" parameterType="board">
		update	BOARD
		set		BOARDTITLE = #{boardTitle}
				, BOARDCONTENT = #{boardContent}
				, ATTACHMENT = #{attachment}
		where 	BOARDNO = #{boardNo};
	</update>
	

	<select id="getAttachment" parameterType="int" resultMap="AttachmentResultSet">
		select FILENO
				, STOREDNAME
				, ORIGINNAME
				, PATH
				, UPLOADDATE
				, STATUS
				, BOARDNO
				, USERID 
		from ATTACHMENT 
		where FILENO = #{fileNo}
	</select>



</mapper>