<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0
//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mira.basicBoard.mapper.BoardMapper">
	<resultMap id="BoardResultSet" type="Board">	
		<result column="boardNo" property="boardNo" />
		<result column="boardTitle" property="boardTitle" />
		<result column="boardContent" property="boardContent" />
		<result column="createDate" property="createDate" />
		<result column="userId" property="userId" />
		<result column="viewCount" property="viewCount" />
	</resultMap>

	<!-- 게시글 전체 조회 -->
	<select id="boardList" resultMap="BoardResultSet">

 		select		* 
		from 		BOARD
		where		STATUS = 'Y'
	    <if test="category == 'boardTitle'">
	        and boardTitle like '%${keyword}%'
	    </if>
	    <if test="category == 'userId'">
	    	and userId = #{keyword}
	    </if>
		order by	BOARDNO DESC
			

	</select>
		
	<select id="searchTest" parameterType="String" resultMap="BoardResultSet">
	    select * from board
	    where status = 'Y'
	    <if test="category == 'boardTitle'">
	        and boardTitle like '%${keyword}%'
	    </if>
	    <if test="category == 'userId'">
	    	and userId = #{keyword}
	    </if>
	</select>
	
	<select id="countBoardList" resultType="int"> 
	
		select	COUNT(*)
		from	BOARD
		where 1 = 1
	    <if test="category == 'boardTitle'">
	        and boardTitle like '%${keyword}%'
	    </if>
	    <if test="category == 'userId'">
	    	and userId = #{keyword}
	    </if>
		
	
	</select>
	
	<insert id="writeBoard" parameterType="board">
	
		insert into BOARD(
						BOARDTITLE
						, BOARDCONTENT
						, USERID
						)
				values(
						#{boardTitle}
						, #{boardContent}
						, #{userId}
						);	
	</insert>
	
	
	<select id="detailBoard" resultMap="BoardResultSet" parameterType="int">
		select 	*
		from 	BOARD
		where 	BOARDNO = #{boardNo}; 
	</select>
	
	
	<update id="deleteBoard" parameterType="int">
		update	BOARD
		set		STATUS = 'N' 
		where	BOARDNO = #{boardNo};
	</update>


	<update id="updateBoard" parameterType="board">
		update	BOARD
		set		BOARDTITLE = #{boardTitle}
				, BOARDCONTENT = #{boardContent}
		where 	BOARDNO = #{boardNo};
	</update>
	
	<update id="increaseViewCount" parameterType="int">
	
		update	BOARD
		set 	VIEWCOUNT = VIEWCOUNT + 1 
		where	BOARDNO = #{boardNo};
	
	</update>
	





</mapper>