<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0
//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.mira.basicBoard.mapper.UserMapper">



	<select id="getUserAccount" resultType="com.mira.basicBoard.vo.User" parameterType="String">
		select * 
			from USER
			where USERID = #{userId}	
	</select>
	
	<insert id="enrollProcess" parameterType="com.mira.basicBoard.vo.User">
		insert 
			into USER(
						USERID, USERPWD, USERNAME, ROLE
						)
				values(
						#{userId}, #{userPwd}, #{userName}, #{role}
					)
					
	</insert>
	
	<select id="enrollValidate" resultType="_int" parameterType="string">
		select count(*) from user where userId = #{userId}
	</select>




</mapper>